html {
  overflow-x: hidden;
  margin-right: calc(-1*(100vw - 100%));
}

body {
  margin: 50px;
  margin-top: 25px;
  padding: 0px;
  background-color: #d3d3d3;
  font-family: helvetica, sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 2em;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 5px;
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 5px;
}

p {
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-inline: 10px;
}

pre {
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 25px;
  padding: 0px;
  padding-bottom: 10px;
}

code {
  white-space: nowrap;
}

.stations-row {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}

.stations-column-table {
  flex: 30%;
  margin: 0px 50px 0px 0px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.stations-column-map {
  flex: 70%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
}

#map {
  height: 100%;
  min-height: 300px;
}

.station-tag {
  background-color: #4285F4;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 14px;
  padding: 10px 15px;
  position: relative;
}

.station-tag::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #4285F4;
}

.stations-table {
  border-collapse: collapse;
  font-size: 1em;
  width: 100%;
}

.stations-table thead tr {
  background-color: #8b8b8b;
  color: #ffffff;
  text-align: left;
}

.stations-table th,
.stations-table td {
    padding: 12px 15px;
    width:50%;
}

.stations-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.stations-table tbody tr:hover {
  background-color: #f1f1f1;
}

.api_endpoint_collapsible {
  display: block;
  background-color: #c5c5c5;
  margin: auto;
  width: 55%;
  font-size: 1.2em;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  padding: 10px;
  text-align: left;
}

.api_endpoint_collapsible_active, .api_endpoint_collapsible:hover {
  background-color: #a5a5a5;
}

.api_endpoint_collapsible:after {
  content: '\002B';
  float: right;
}

.api_endpoint_collapsible_active:after {
  content: "\2212";
}

.api_endpoint_GET {
  margin-left: 15px;
  margin-right: 15px;
}

.api_endpoint_content_header {
  margin: auto;
  padding: 10px;
  background-color: #c5c5c5;
  font-size: 1.2em;
  font-weight: bold;
  width: 80%;
  overflow: hidden;
}

.api_endpoint_content {
  margin: auto;
  padding: 0px;
  background-color: #c5c5c5;
  max-height: 0;
  overflow-y: hidden;
  overflow-x: auto;
  transition: max-height 0.3s ease-out;
  width: 70%;
}

.api_endpoint_content_active {
  border: 1px solid black;
  border-radius: 10px;
}

@media only screen and (max-width: 1000px) {
  body {
    margin: 25px;
    font-size: 15px;
  }

  h1 {
    text-align: center;
  }

  p {
    text-justify: justify;
  }

  .stations-row {
    display: flex;
    flex-direction: column;
  }

  .stations-column-table {
    margin: 0px 0px 50px 0px;
  }

  .api_endpoint_collapsible {
    width: 100%;
  }

  .api_endpoint_content
  {
    width: 100%;
  }
}